<div class="wrapper">
  <div class="new-user-wrapper">
    <div class="clearfix">
      <a class="new-user-trigger clearfix" href="">New User?</a>
    </div>
    <div class="new-user-form">
      <%= form_for(@user) do |f| %>
      <%= hidden_field_tag :from, value: 'sign-up' %>

      <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <li><%= @user.errors.full_messages.first %></li>
        </ul>
      </div>
      <% end %>

      <div class="field form-group">
        <div class="name-wrapper">
          <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
          <%= f.text_field :last_name, class: 'last-name form-control', placeholder: 'Last Name' %>
        </div>
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
        <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
        <div class="pw-wrapper">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          <%= f.password_field :password_confirmation, class: ' confirm form-control', placeholder: 'Confirm' %>
        </div>
        <%= f.submit 'Sign Up!', class: 'btn btn-default' %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="login-form">
    <% if flash[:notice] %>
    <p id="alert"><%= flash[:notice] %></p>
    <% end %>
    <%= form_tag('/') do %>
    <%= text_field_tag :username, params[:username], class: 'form-control', placeholder: 'Username' %>
    <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: 'Password' %>
    <%= submit_tag "Login", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
