
<div class="wrapper">
  <div class="login_form">
    <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
    <% end %>
    <%= form_tag do %>
      <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Username' %>
      <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: 'Password' %>
      <%= submit_tag "Login", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
