<div class="panel-body">
  <%= form_for @task do |f| %>
  <% if @task.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :rate %><br>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.text_field :rate, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :project %> <%= link_to '+', new_project_path, class: 'new-link' %><br>
    <%= f.collection_select(:project_id, @current_user.projects, :id, :name, {}, { class: "form-control" } ) %>
  </div>
  <div class="checkboxes clearfix">
    <div class="field form-group status-group clearfix">
      <%= f.check_box :status, class: 'form-control' %>
      <%= f.label 'Complete' %>
    </div>
    <div class="field form-group default-group clearfix">
      <%= f.check_box :default, class: 'form-control' %>
      <%= f.label :default %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-default' %>
  </div>
  <% end %>
</div>