$(function() {  
  <% task = @task %>

  var newRow = $('<tr data-id="<%= task.id %>" data-project-id="<%= task.project_id %>">' +
    '<td class="name"><%= link_to task.name, edit_task_path(task) %></td>' +
    '<td class="rate"><%= task.rate %></td>' +
    '<td class="status"><%= status task.status %></td>' +
    '<td class="default"><%= default task.default %></td>' +
    '<td class="action"><%= link_to image_tag("icon-delete.png", :border => 0), task, method: :delete, data: { confirm: "Are you sure?"}, class: "delete" %></td>' +
    '</tr>');

  //THERE WILL BE ATLEAST ONE ROW
  $('.no-tasks').addClass('hide');
  //UPDATE DEFAULTS OF CURRENT TASK
  if ( <%= task.default %> ) {
    $('.tasks-table td.default:visible').html('-');
  }

  $('.tasks-table tbody').append(newRow);
  newRow.find('td').effect('highlight', 1000);

  //RESET THE FORM
  $('.new_task').trigger('reset');
});
