$(function() {  
  <% shift = @shift %>

  var newRow = $('<tr data-id="<%= shift.id %>">' +
    '<td class="edit"><%= link_to image_tag("icon-edit.png"), edit_shift_path(shift) %></td>' +
    '<td class="clock-in"><%= shift.clock_in.strftime("%l:%M %p") if shift.clock_in %></td>' +
    '<td class="clock-out"><%= shift.clock_out.strftime("%l:%M %p") if shift.clock_out %></td>' +
    '<td class="project"><%= shift.project.name if shift.project %></td>' +
    '<td class="task"><%= shift.task.name if shift.task %></td>' +
    '<td class="time"><%= shift.time if shift.time %></td>' +
    '<td class="pay"><%= number_to_currency(shift.pay) %></td>' +
    '<td class="action"><%= link_to image_tag("icon-delete.png", :border => 0), shift, method: :delete, data: { confirm: "Are you sure?"}, class: "delete" %></td>' +
    '</tr>');

  $('.shift-table tbody').append(newRow);
  newRow.find('td').effect('highlight', 1000);

  $('.new_shift').trigger('reset');

});

