<% if flash[:notice] %>
<p id="alert"><%= flash[:notice] %></p>
<% end %>
<h1><%= @date1.to_date.strftime("%A - %B %e, %Y") %></h1>

<div class="sidebar">
  <div class="field form-group filter-group">
    <%= label_tag 'Select' %>
    <%= select_tag( :filter, options_for_select( [["Daily", "daily"],["Weekly", "weekly"],["2 weeks", "bi-weekly"],['Monthly', "monthly"]] ) ) %>
  </div>
  
  <div class="main-calendar" data-filter="<%= @filter %>"></div>
</div>

<div class="main-content">
<table class="shift-table table table-striped table-hover">
  <thead>
    <tr>
      <th class="edit"></th>
      <th class="clock-in">Clock in</th>
      <th class="clock-out">Clock out</th>
      <th class="project">Project</th>
      <th class="task">Task</th>
      <th class="hours">Hours</th>
      <th class="pay">Pay</th>
      <th class="action"></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr data-id="<%= shift.id %>">
        <td class="edit"><%= link_to image_tag("icon-edit.png"), edit_shift_path(shift) %></td>
        <td class="clock-in"><%= shift.clock_in.strftime("%l:%M %p") if shift.clock_in %></td>
        <td class="clock-out"><%= shift.clock_out.strftime("%l:%M %p") if shift.clock_out %></td>
        <td class="project"><%= project_link(shift) %></td>
        <td class="task"><%= task_link(shift) %></td>
        <td class="hours"><%= shift.time if shift.time %></td>
        <td class="pay"><%= number_to_currency(shift.pay) %></td>
        <td class="action"><%= link_to image_tag("icon-delete.png", :border => 0), shift, method: :delete, data: { confirm: "Are you sure?"}, class: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for(@new_shift, remote: true) do |f| %>
  <%= f.hidden_field :date_in, value: @date1 %>
  <%= f.hidden_field :date_out, value: @date2 %>
  <%= f.hidden_field :user_id, value: @current_user.id %>

  <% if @new_shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
        <% @new_shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="new-shift table table-striped">
    <thead>
    </thead>
    <tbody>
      <tr class="rt-pair">
        <td class="edit"></td>
        <td class="clock-in"><%= f.time_field :clock_in, class: "form-control", value: Time.now.localtime.to_s(:time) %></td>
        <td class="clock-out"><%= f.time_field :clock_out, class: "form-control", value: Time.now.localtime.to_s(:time) %></td>
        <td class="project"><%= f.collection_select(:project_id, @projects, :id, :name, { selected: project_default.id }, { class: "rt-project form-control" }) %></td>
        <td class="task"><%= f.collection_select(:task_id, project_default.tasks, :id, :name, { selected: task_default(project_default).id }, { class: "rt-task form-control" } ) %></td>
        <td class="hours"></td>
        <td colspan="2" class="action"><%= f.submit 'New', class: 'new btn btn-success' %></td>
      </tr>
    </tbody>
  </table>
<% end %>
</div>