<div class="sidebar">
  <div class="field form-group filter-group">
    <%= label_tag 'Select', nil, class: 'select-label' %>
    <%= select_tag( :filter, options_for_select( [["Daily", "daily"],["Weekly", "weekly"],["2 weeks", "bi-weekly"],['Monthly', "monthly"]] ) ) %>
  </div>
  
  <div class="main-calendar" data-filter="<%= @filter %>"></div>
</div>

<div class="main-content">
  <h1>
    <%= @filter.titleize + ' (' + @date1.strftime("%m/%-d/%Y") + ' - ' + @date2.strftime("%m/%-d/%Y") + ')' %>
    <%= link_to 'New Shift', new_shift_path, class: 'new-top btn btn-success' %>
  </h1>
<table class="shift-table table table-striped table-hover">
  <thead>
    <tr>
      <th class="edit"></th>
      <th class="date-in">Date</th>
      <th class="clock-in">In</th>
      <th class="clock-out">Out</th>
      <th class="project">Project</th>
      <th class="task">Task</th>
      <th class="hours">Hours</th>
      <th class="pay">Pay</th>
      <th class="action"></th>
    </tr>
  </thead>

  <tbody>
    <% while @date1 <= @date2 do %>
      <% dailyShifts = @shifts.by_day(@date1) %>
      <% if dailyShifts.count == 0 %>
        <tr>
          <td></td>
          <td><%= @date1.strftime("%m/%-d/%Y") %></td>
          <td><em>No shifts</em></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% else %>
      <% shift = dailyShifts.first %>
        <tr data-id="<%= shift.id %>">
          <td class="edit"><%= link_to image_tag("icon-edit.png"), edit_shift_path(shift) %></td>
          <td class="date-in"><%= shift.date_in.strftime("%m/%-d/%Y") if shift.date_in %></td>
          <td class="clock-in"><%= shift.clock_in.strftime("%l:%M %p") if shift.clock_in %></td>
          <td class="clock-out"><%= shift.clock_out.strftime("%l:%M %p") if shift.clock_out %></td>
          <td class="project"><%= project_link(shift) %></td>
          <td class="task"><%= task_link(shift) %></td>
          <td class="hours"><%= shift.time if shift.time %></td>
          <td class="pay"><%= number_to_currency(shift.pay) %></td>
          <td class="action"><%= link_to image_tag("icon-delete.png", :border => 0), shift, method: :delete, data: { confirm: "Are you sure?"}, class: "delete" %></td>
        </tr>
        <% for i in 1..dailyShifts.count - 1 %>
          <% shift = dailyShifts[i] %>
          <tr class="grouped-shift" data-shift-id="<%= shift.id %>">
            <td class="edit"><%= link_to image_tag("icon-edit.png"), edit_shift_path(shift) %></td>
            <td></td>
            <td class="clock-in"><%= shift.clock_in.strftime("%l:%M %p") if shift.clock_in %></td>
            <td class="clock-out"><%= shift.clock_out.strftime("%l:%M %p") if shift.clock_out %></td>
            <td class="project"><%= project_link(shift) %></td>
            <td class="task"><%= task_link(shift) %></td>
            <td class="hours"><%= shift.time if shift.time %></td>
            <td class="pay"><%= number_to_currency(shift.pay) %></td>
            <td class="action"><%= link_to image_tag("icon-delete.png", :border => 0), shift, method: :delete, data: { confirm: "Are you sure?"}, class: "delete" %></td>
          </tr>
        <% end %>
      <% end %>

      <% @date1 += 1.day %>
    <% end %>

  </tbody>
</table>

<%= link_to 'New Shift', new_shift_path, class: 'new-bottom btn btn-success' %>