<div class="body-wrapper">
  <h2>Create Report</h2>
  <%= form_tag '/reports/create', class: 'new-report form-horizontal' do %>
<div class="panel panel-default">
  <div class="panel-heading"><h4>Create Report</h4></div>
  <div class="panel-body">
    <div class="col-sm-6">
      <div class="field form-group">
        <%= label_tag 'From', nil, class: 'control-label col-sm-3' %>
        <div class="col-sm-6">
          <%= date_field_tag :date1, Date.today, { required: true, class: 'form-control' } %>
        </div>
      </div>
      <div class="field form-group">
        <%= label_tag 'To', nil, class: 'control-label col-sm-3' %>
        <div class="col-sm-6">
          <%= date_field_tag :date2, Date.today, { required: true, class: 'form-control' } %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field form-group">
        <%= label_tag 'project_filter', 'Project', { class: 'control-label col-sm-3' } %>
        <div class="col-sm-2">
          <%= check_box_tag(:project_filter) %>
        </div>
        <div class="col-sm-6">
          <%= select_tag(:project_id, options_from_collection_for_select(@projects, :id, :name), { selected: project_default.id, class: "form-control disabled" }) %>
        </div>
      </div>
      <div class="field form-group">
        <%= label_tag 'task_filter', 'Task', { class: 'control-label col-sm-3' } %>
        <div class="col-sm-2">
          <%= check_box_tag(:task_filter) %>
        </div>
        <div class="col-sm-6">
          <%= select_tag(:task_id, options_from_collection_for_select(@tasks, :id, :name), { selected: task_default(project_default).id, class: "form-control disabled" })%>
        </div>
      </div>
      <div class="submit-wrapper col-sm-12">
        <%= link_to 'Email', '', class: 'email btn btn-primary' %>
        <%= submit_tag 'Generate', class: 'submit btn btn-success' %>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>