<div class="body-wrapper">
  <%= form_for(@report, { class: 'new-report form-horizontal' }) do |f| %>

  <div class="reports-actions-wrapper clearfix">
    <h2>Create Report </h2>
    <%= f.submit 'Generate', class: 'generate btn btn-success' %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h4></h4></div>
    <div class="panel-body">
      <div class="col-sm-6">
        <div class="field form-group clearfix">
          <%= f.label :date1, 'From', class: 'control-label col-sm-3' %>
          <div class="col-sm-6">
            <%= f.date_field :date1, class: 'form-control', value: Date.today %>
          </div>
        </div>
        <div class="field form-group">
          <%= f.label :date2, 'To', class: 'control-label col-sm-3' %>
          <div class="col-sm-6">
            <%= f.date_field :date2, class: 'form-control', value: Date.today %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 rt-pair">
        <div class="field form-group clearfix">
          <%= f.label :project_filter, 'Project', class: 'control-label col-sm-3' %>
          <div class="col-sm-2">
            <%= f.check_box(:project_filter) %>
          </div>
          <div class="col-sm-6">
            <%= f.collection_select(:project_id, @projects, :id, :name, { selected: project_default.id }, { class: "rt-project form-control" }) %>
          </div>
        </div>
        <div class="field form-group">
          <%= f.label :task_filter, 'Task', class: 'control-label col-sm-3' %>
          <div class="col-sm-2">
            <%= f.check_box(:task_filter) %>
          </div>
          <div class="col-sm-6">
            <%= f.collection_select(:task_id, project_default.tasks, :id, :name, { selected: task_default(project_default).id }, { class: "rt-task form-control" } ) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>