<div class="body-wrapper">
  <%= form_for(@report, { class: 'new-report form-horizontal' }) do |f| %>

  <div class="reports-actions-wrapper clearfix">
    <h2>Create Report </h2>
    <div class="email-wrapper">
      <%= f.text_field :email, class: 'email-address form-control' %>
      <%= submit_tag 'Email', class: 'email btn btn-primary' %>
    </div>
    <%= f.submit 'Preview', class: 'preview btn btn-success' %>
    <%= f.submit 'Generate', class: 'generate btn btn-success' %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h4></h4></div>
    <div class="panel-body">
      <div class="col-sm-6">
        <div class="field form-group clearfix">
          <%= f.label :date1, 'From', class: 'control-label col-sm-3' %>
          <div class="col-sm-6">
            <%= f.date_field :date1, class: 'form-control', value: @date1 %>
          </div>
        </div>
        <div class="field form-group">
          <%= f.label :date2, 'To', class: 'control-label col-sm-3' %>
          <div class="col-sm-6">
            <%= f.date_field :date2, class: 'form-control', value: @date2 %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 rt-pair">
        <div class="field form-group clearfix">
          <%= f.label :project_filter, 'Project', class: 'control-label col-sm-3' %>
          <div class="col-sm-2">
            <%= f.check_box(:project_filter) %>
          </div>
          <div class="col-sm-6">
            <%#= f.collection_select(:project_id, @projects, :id, :name, {}, { class: "rt-project form-control" }) %>
            <%= f.select :project_id, options_for_select(@projects.map{ |p| [p.name, p.id, { 'data-email' => p.email } ] } ), { },class: "rt-project form-control" %>

          </div>
        </div>
        <div class="field form-group">
          <%= f.label :task_filter, 'Task', class: 'control-label col-sm-3' %>
          <div class="col-sm-2">
            <%= f.check_box(:task_filter) %>
          </div>
          <div class="col-sm-6">
            <%= f.collection_select(:task_id, @project.tasks, :id, :name, { include_blank: "- Please Select -" }, { class: "rt-task form-control" } ) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>

  <div class="main-content">
    <table class="shift-table table table-condensed">
      <thead>
        <tr>
          <th class="date-in">Date</th>
          <th class="clock-in">Clock in</th>
          <th class="clock-out">Clock out</th>
          <th class="project">Project</th>
          <th class="task">Task</th>
          <th class="hours">Hours</th>
          <th class="pay">Pay</th>
        </tr>
      </thead>

      <tbody>
        <% while @date1 <= @date2 do %>
        <% dailyShifts = @shifts.by_day(@date1) %>
        <% if dailyShifts.count == 0 %>
        <tr>
          <td class="date-in"><%= @date1.strftime("%m/%-d/%Y") if @date1 %></td>
          <td class="clock-in"><em>No shifts</em></td>
          <td class="clock-out"></td>
          <td class="project"></td>
          <td class="task"></td>
          <td class="hours"></td>
          <td class="pay"></td>
        </tr>
        <% else %>
        <% shift = dailyShifts.first %>
        <tr data-id="<%= shift.id %>">
          <td class="date-in"><%= shift.date_in.strftime("%m/%-d/%Y") if shift.date_in %></td>
          <td class="clock-in"><%= shift.clock_in.strftime("%l:%M %p") if shift.clock_in %></td>
          <td class="clock-out"><%= shift.clock_out.strftime("%l:%M %p") if shift.clock_out %></td>
          <td class="project"><%= shift.project.name if shift.project %></td>
          <td class="task"><%= shift.task.name if shift.task %></td>
          <td class="hours"><%= shift.time if shift.time %></td>
          <td class="pay"><%= number_to_currency(shift.pay) %></td>
        </tr>
        <% for i in 1..dailyShifts.count - 1 %>
        <% shift = dailyShifts[i] %>
        <tr class="grouped-shift" data-shift-id="<%= shift.id %>">
          <td></td>
          <td class="clock-in"><%= shift.clock_in.strftime("%l:%M %p") if shift.clock_in %></td>
          <td class="clock-out"><%= shift.clock_out.strftime("%l:%M %p") if shift.clock_out %></td>
          <td class="project"><%= shift.project.name if shift.project %></td>
          <td class="task"><%= shift.task.name if shift.task %></td>
          <td class="hours"><%= shift.time if shift.time %></td>
          <td class="pay"><%= number_to_currency(shift.pay) %></td>
        </tr>
        <% end %>
        <% end %>

        <% @date1 += 1.day %>
        <% end %>

      </tbody>
    </table>
  </div>