<!DOCTYPE html>
<html>
<head>
  <title>Timesheet</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %> <%= filter_class %>">
  <div class="main">
    <header class="main-header">
      <div class="wrapper">
        <div class="main-header-top">
          <div class="logo">
            <%= image_tag "logo.png"%>
            <span>ShiftKeeper</span>
          </div> 
        </div>
        <a class="login" href="">Sign In <i class="fa fa-arrow-left"></i></a>
      </div>
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="wrapper">
          <ul class="nav navbar-nav">
            <li class="<%= in_path?("shifts") %> dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shifts<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="<%= in_path?("shifts/new") %>" ><%= link_to 'New', new_shift_path %></li>
                <li class="divider"></li>
                <li class="<%= in_path?("today") %>" ><%= link_to 'Today', filtered_shifts_sub_path('daily', 'today', Date.today, Date.today), "data-no-turbolink" => true %></li>
                <li class="divider"></li>
                <li class="<%= in_path?("this_week") %>" ><%= link_to 'This Week', filtered_shifts_sub_path('weekly', 'this_week', Date.today.beginning_of_week, Date.today.end_of_week) %></li>
                <li class="<%= in_path?("last_week") %>"><%= link_to 'Last Week', filtered_shifts_sub_path('weekly', 'last_week', beginning_of_last_week, end_of_last_week) %></li>
                <li class="<%= in_path?("last_two_weeks") %>"><%= link_to 'Last Two Weeks', filtered_shifts_sub_path('bi-weekly', 'last_two_weeks', beginning_of_last_week, Date.today.end_of_week) %></li>
                <li class="divider"></li>
                <li class="<%= in_path?("this_month") %>"><%= link_to 'This Month', filtered_shifts_sub_path('monthly', 'this_month', Date.today.at_beginning_of_month, Date.today.at_end_of_month) %></li>
                <li class="<%= in_path?("last_month") %>"><%= link_to 'Last Month', filtered_shifts_sub_path('monthly', 'last_month', beginning_of_last_month, end_of_last_month) %></li>
              </ul>
            </li>
            <li class="<%= in_path?("projects", "tasks") %>" ><%= link_to 'Projects & Tasks', projects_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="<%= in_path?("reports/new") %>"><%= link_to 'New', reports_path %></li>
                <li class="divider"></li>
                <li class="<%= in_path?("reports/create") %>"><%= link_to 'This Week', filtered_shifts_path('weekly', Date.beginning_of_week, Date.today) %></li>
                <li class="<%= in_path?("reports/create") %>"><%= link_to 'Last Week', filtered_shifts_path('weekly', beginning_of_last_week, end_of_last_week) %></li>
                <li class="<%= in_path?("reports/create") %>"><%= link_to 'Last Two Weeks', filtered_shifts_path('bi-weekly', beginning_of_last_week, Date.today) %></li>
                <li class="divider"></li>
                <li class="<%= in_path?("reports/create") %>"><%= link_to 'This Month', filtered_shifts_path('monthly', Date.today.at_beginning_of_month, Date.today.at_end_of_month) %></li>
                <li class="divider"></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, <%= @current_user.username if @current_user %><%= ' (Administrator)' if @current_user && @current_user.is_admin %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Logout", logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="body">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
