<!DOCTYPE html>
<html>
<head>
  <title>Timesheet</title>
  <%= include_gon %>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %> <%= filter_class %>">
  <div class="main">
    <header class="main-header">
      <div class="wrapper">
        <div class="main-header-top">
          <div class="logo">
            <%= wicked_pdf_image_tag "logo.png"%>
            <span>ShiftKeeper</span>
          </div> 
        </div>
        <a class="login" href="">Sign In <i class="fa fa-arrow-left"></i></a>
      </div>
    </header>
    <div class="body">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
